<!-->Angular controla o formulário, quando importamos o FormsModule
  #frm="ngForm - para obter uma instancia da diretiva que gerencia o formulário
   #frm - nome da variavel
   (ngSubmit)="adicionar(frm) - quando o formulário for submetido, vai chamar o metodo adicionar
   do componente(ItemCadastroComponent) passando a variavel frm.
<-->
<form #frm="ngForm" (ngSubmit)="adicionar(frm)" autocomplete="off">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Gestão de Patrimônio</h1>
    </div>

    <!--> ui-fluid - componete ocupa todo espaço reservado para ele,ou seja,
      este input vai ocupar metade da tela: ui-g-6
      ngModel: para registrar os campos, senão o formulário ficará vazio, sem esses dados
      mesmo tendo digitado eles
      Outra coisa importante: esses campos devem ter seus nomes registrados, por isso
      deve ter o atributo name com o valor que representa os atributos/propriedades do objeto do back end
      nesse caso 'Item'
   <-->
    <div class="ui-g-6 ui-fluid">
      <label>Etiqueta</label>
      <!--> mask="aa9999 - aceita letras e numeros 2 letras e 4 numeros<-->
      <p-inputMask name="etiqueta" mask="aa9999"
        ngModel [required]="true"></p-inputMask>
    </div>

    <div class="ui-g-6 ui-fluid">
      <label>Data da aquisição</label>
      <p-calendar name="dataAquisicao" dateFormat="dd/mm/yy"
        ngModel [required]="true"></p-calendar>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input pInputText name="descricao"
        ngModel [required]="true">
    </div>
    <!-->lembre-se que 'frm' controla o estado do formulario
      então se este formulario estiver invalido 'frm.invalid', ou seja, se algum dos campos não
      for preenchido, já que foi colocado ' [required]="true"',
      o botão fica esmaecido.
    <-->
    <div class="ui-g-12">
      <button pButton type="submit" label="Adicionar"
        [disabled]="frm.invalid"></button>
    </div>

  </div>
</form>

<!-->utilizando css do primeng - grid.css divide a tela em 12 colunas<-->
<div class="ui-g">
  <!-->
    linha/div com 12 colunas, ou seja, utilizando tela inteira
    poderia dividir e de acordo com a minha necessidade
  <-->
  <div class="ui-g-12">
    <!-->[value]="itens": para pegar os valores do array itens, isto é chamado de
      property bind, colocar os colchotes, [value], senão pegaria apenas o valor de uma String:'itens'<-->
    <p-dataTable [value]="itens">
      <p-column field="etiqueta" header="Etiqueta"></p-column>
      <p-column field="descricao" header="Descrição"></p-column>
      <p-column header="Aquisição">
        <!-->
          <ng-template> para customizar a coluna da data para podermos
          formatar a data com pipe date, estou customizando o body da coluna de data
          <ng-template pTemplate="body",pois eu poderia customizar, por exemplo, o header dessa coluna. 
          let-item="rowData" - let para poder declarar uma variavel<.
          item, nome que dei para variavel.
          rowData, deve ser esse nome para poder acessar os da linha atual no loop -->
        <ng-template pTemplate="body" let-item="rowData">
          <!-->formata a data usando pipe date, pipe é essa barra '|'<-->
          {{ item.dataAquisicao | date:'dd/MM/yyyy' }}
        </ng-template>
      </p-column>
    </p-dataTable>

  </div>
</div>
